.pl-biblio {
  padding-top: 16px;
}

.pl-biblio__heading {
  font-size: 32px;
  line-height: 1.13;
  letter-spacing: 0.5px;
}

.pl-biblio__list {
  list-style-type: none;
  margin: 20px 0 0;
  padding: 0;
  font-size: 18px;
  letter-spacing: 0.3px;
  color: $main-color;
}

.pl-biblio__item {
  display: flex;
}

.pl-biblio__item + .pl-biblio__item {
  margin-top: 10px;
}

.pl-biblio__year {
  min-width: 80px;
  width: 80px;
}

.pl-biblio__text {
  width: auto;
  p {
    margin: 0;
  }
  .pl-biblio__author {
    font-weight: 400;
  }
  a {
    color: $accent-color;
  }
}