html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}

body {
  position: relative;
  min-width: 320px;
  font-family: 'Fira Sans', 'Helvetica', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 1.48;
  font-size: 100%;
  color: $main-color;
  background-color: #0E0F0F;
  opacity: 0;
  transition: opacity .2s ease;
  &.loaded {
    opacity: 1
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  color: rgba(182, 178, 168, 0.6);
  text-align: center;
}
