.page-cover {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  opacity: .7;
  background-color: #000;
  //&.show {
  //  opacity: .7;
  //  display: block;
  //  transition: opacity .2s ease;
  //}
}


.pl-section {

}

.pl-main {
  padding-bottom: 100px;
}

.pl-container {
  max-width: 840px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 32px;
  padding-right: 32px;
  @include r($mb-big) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

//Content styles
.pl-content {
  img {
    display: block;
    max-width: 100%;
    //width: 100%;
    height: auto;
    margin: 20px auto;
  }
  //img + * {
  //  margin-top: 60px;
  //}
  //
  //img:not(:first-child) {
  //  margin-top: 60px;
  //}

  h1 {
    font-size: 32px;
    line-height: 1.13;
    letter-spacing: 0.5px;
    margin: rem(24) 0;
  }

  h3 {
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.4px;
  }

  h5 {
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0.3px;
  }

  p {
    font-size: 16px;
    letter-spacing: 0.4px;
  }

  blockquote {
    padding: 0;
    margin: 0 rem(24) 0;
    font-size: 20px;
    //font-style: italic;
    line-height: 1.6;
    letter-spacing: 0.4px;
    color: rgba(182, 178, 168, 0.8);
  }

  p.author {
    margin-top: rem(24);
    font-size: 16px;
    font-style: italic;
    text-align: right;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    line-height: 1.63;
    letter-spacing: 0.3px;
  }

}

.sketchfab-bnt {
  cursor: pointer;
  position: fixed;
  z-index: 100;
  top: 16px;
  right: 16px;
  color: $accent-color;
  width: 48px;
  height: 48px;
  border-radius: 4px;
  box-shadow: 0 0 2px 0 rgba(244, 228, 197, 0.16);
  background-color: #0b0c0c;
  a {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover, &:focus {
      .icon-fill {
        fill: $white-color;
      }
    }
    .icon-fill {
      @include transition(fill);
      fill: $accent-color;
      font-size: 25px;
    }
  }
}

.sketchfab-close {
  display: none;
  cursor: pointer;
  position: fixed;
  z-index: 1000;
  top: 40px;
  right: 16px;
  color: $accent-color;
  width: 48px;
  height: 48px;
  border-radius: 4px;
  box-shadow: 0 0 2px 0 rgba(244, 228, 197, 0.16);
  background-color: #0b0c0c;
  &.show {
    display: block;
  }
  a {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover, &:focus {
      .icon-fill {
        fill: $white-color;
      }
    }
    .icon-fill {
      @include transition(fill);
      fill: $accent-color;
      font-size: 20px;
    }
  }
}

.swiper-pagination-bullet {
  opacity: 1 !important;
  cursor: pointer;
  width: 4px !important;
  height: 4px !important;
  margin-left: 8px !important;;
  margin-right: 8px !important;;
  background: $accent-color !important;
}

.swiper-pagination-bullet-active {
  background: #819EA1 !important;
}

//.swiper-slide {
//  @include transition(opacity);
//  opacity: 0.3;
//  p {
//    display: none;
//  }
//}
//
//.swiper-slide-active {
//  @include transition(opacity);
//  opacity: 1 !important;
//  p {
//    display: block;
//  }
//}