//Header styles

.pl-header__inner {
  min-height: 80px;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pl-header__logo {
  display: block;
  margin-left: 16px;
  width: 94px;
  z-index: 100;
  img {
    @include img();
  }
}

//Burger styles
.burger-menu {
  position: fixed;
  z-index: 100;
  top: 16px;
  left: 16px;
  width: 48px;
  height: 48px;
  border-radius: 4px;
  box-shadow: 0 0 2px 0 rgba(244, 228, 197, 0.16);
  background-color: #0b0c0c;
}

.burger-click-region {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  &:hover {
    .burger-menu-piece {
      border-color: $main-color;
    }
  }
}

$menu-animation-duration: 400ms;
$menu-animation-timing: ease-out;

.burger-menu-piece {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -9px;
  width: 18px;
  border-top: 2px solid $accent-color;
  transform-origin: 50% 50%;
  transition: transform $menu-animation-duration $menu-animation-timing, border-color .3s ease;

  &:nth-child(1) {
    top: calc(50% - 6px);
    margin-top: -1px;
  }

  &:nth-child(2) {
    top: 50%;
    margin-top: -1px;
    opacity: 1;
    transition: transform $menu-animation-duration $menu-animation-timing, opacity 0ms linear $menu-animation-duration / 2, border-color .3s ease;
  }

  &:nth-child(3) {
    top: calc(50% + 6px);
    margin-top: -1px;
  }

  .active & {

    &:nth-child(1) {
      animation: burger-open-top $menu-animation-duration $menu-animation-timing forwards;
    }

    &:nth-child(2) {
      opacity: 0;
      transition: transform $menu-animation-duration $menu-animation-timing, opacity 0ms linear $menu-animation-duration / 2;
    }

    &:nth-child(3) {
      animation: burger-open-bot $menu-animation-duration $menu-animation-timing forwards;
    }
  }

  .closing & {
    &:nth-child(1) {
      animation: burger-close-top $menu-animation-duration $menu-animation-timing forwards;
    }

    &:nth-child(3) {
      animation: burger-close-bot $menu-animation-duration $menu-animation-timing forwards;
    }
  }
}

@keyframes burger-open-top {
  50% {
    transform: translate3d(0, 6px, 0);
  }
  100% {
    transform: translate3d(0, 6px, 0) rotate(45deg);
  }
}

@keyframes burger-open-bot {
  50% {
    transform: translate3d(0, -6px, 0);
  }
  100% {
    transform: translate3d(0, -6px, 0) rotate(-45deg);
  }
}

@keyframes burger-close-top {
  0% {
    transform: translate3d(0, 6px, 0) rotate(45deg);
  }
  50% {
    transform: translate3d(0, 6px, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes burger-close-bot {
  0% {
    transform: translate3d(0, -6px, 0) rotate(-45deg);
  }
  50% {
    transform: translate3d(0, -6px, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

.pl-menu-block {
  position: fixed;
  z-index: 100;
  left: 0;
  max-height: calc(100vh - 80px);
  overflow: scroll;
  top: 80px;
  width: 270px;
  padding: 32px 24px;
  background-color: $menu-bg-color;
  color: $accent-color;
}

.pl-navigation__list {
  list-style-type: none;
  padding: 0 0 24px;
  margin: 0;
}

.pl-navigation__item {

}

.pl-navigation__item + .pl-navigation__item {
  margin-top: 24px;
}

.pl-apps {
  list-style-type: none;
  margin: 0;
  padding: 24px 0;
  border-top: 1px solid rgba(255, 255, 255, .16);
}

.pl-apps__item + .pl-apps__item {
  margin-top: 24px;
}

.pl-navigation__link, .pl-apps__link, .pl-languages__link {
  color: inherit;
  font-size: 18px;
  letter-spacing: 0.7px;
  text-decoration: none;
  @include link-hover;
  &.inactive {
    opacity: .5;
    pointer-events: none;
  }
}

.pl-languages {
  position: relative;
  padding: 24px 0;
  border-bottom: 1px solid rgba(255, 255, 255, .16);
  border-top: 1px solid rgba(255, 255, 255, .16);
  .icon-fill {
    top: 28px;
    position: absolute;
    right: 0;
    fill: $accent-color;
    font-size: 20px;
  }
}

.pl-languages__list {
  overflow: hidden;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.pl-languages_current {
  cursor: pointer;
  font-size: 18px;
  letter-spacing: 0.7px;
  text-decoration: none;
  @include link-hover;
  //.icon-fill {
  //  top: 50%;
  //  transform: translateY(-60%);
  //  position: absolute;
  //  right: 0px;
  //  fill: $accent-color;
  //  font-size: 20px;
  //}
  &::after {
    pointer-events: none;
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    right: -20px;
    top: 50%;
    margin-top: -4px;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: $accent-color transparent transparent transparent;
    opacity: 0.52;
    @include transition(transform, .2s);
  }
  &.is-open:after {
    transform: rotate(-90deg);
  }
}

.pl-languages__item {
  margin-top: 22px;
  margin-bottom: 2px;
}

.pl-social {
  display: flex;
  list-style-type: none;
  padding: 24px 0;
  margin: 0;
}

.pl-social__item {

}

.pl-social__item + .pl-social__item {
  margin-left: 24px;
}

.pl-social__link {
  text-decoration: none;
  color: inherit;
  &:hover .icon-fill, &:focus .icon-fill {
    fill: $main-color;
  }
  .icon-fill {
    font-size: 24px;
    @include transition();
  }
}

.pl-copy {
  margin: 0;
  font-size: 12px;
  letter-spacing: 0.5px;
  color: $main-color;
}