.icon-fill {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-close {
  font-size:(21.9/10)*1rem;
  width:(21.9/21.9)*1em;
}
.icon-facebook {
  font-size:(24/10)*1rem;
  width:(13/24)*1em;
}
.icon-instagram {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon-language {
  font-size:(20/10)*1rem;
  width:(20/20)*1em;
}
.icon-sketchfab {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon-youtube {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.logo-culture-bridges {
  font-size:(27/10)*1rem;
  width:(82/27)*1em;
}
.logo-dialog {
  font-size:(64/10)*1rem;
  width:(182/64)*1em;
}
.logo-ingm {
  font-size:(80/10)*1rem;
  width:(52/80)*1em;
}
.logo-innocode {
  font-size:(17/10)*1rem;
  width:(89/17)*1em;
}
.logo-lnpu {
  font-size:(85/10)*1rem;
  width:(89/85)*1em;
}
.logo-lviv {
  font-size:(71/10)*1rem;
  width:(187/71)*1em;
}
.logo-photocentric {
  font-size:(20/10)*1rem;
  width:(143/20)*1em;
}
.logo-ukf {
  font-size:(40/10)*1rem;
  width:(58/40)*1em;
}
