$white-color: #fff;
$black-color: #000;
$main-color: #b6b2a8;
$accent-color: #0994a2;
$menu-bg-color: #0E0F0F;

$base-font-size: 16px;

$material-easing: cubic-bezier(0.4, 0.0, 0.2, 1);

$dt-small: 1280;
$tb-reg: 1024;
$tb-mid: 800;
$tb-small: 767;
$mb-big: 640;
$mb-mid: 414;
$mb-small: 320;