.pl-about {
  blockquote {
    text-align: center;
  }
}

.pl-partners {
  margin-top: 90px;
  padding-left: 32px;
  padding-right: 32px;
  @include r($mb-big) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.pl-partners__list {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 450px;
}

.pl-partners__item {

}

.pl-partners__link {
  display: block;
  &:hover, &:focus {
    .icon-fill {
      fill: $white-color;
    }
  }
  .icon-fill {
    fill: $main-color;
    margin: rem(35) rem(20);
    @include transition(fill);
  }

  .logo-dialog {
    font-size: 64px;
  }
  .logo-ingm {
    font-size: 80px;
  }
  .logo-ukf {
    font-size: 40px;
  }
  .logo-lnpu {
    font-size: 85px;
  }
  .logo-lviv {
    font-size: 71px;
    //margin-left: rem(64);
  }
  .logo-photocentric {
    font-size: 20px;
  }
  .logo-innocode {
    font-size: 17px;
    //margin-left: rem(64);
    //margin-right: rem(64);
  }
  .logo-culture-bridges {
    font-size: 27px;
  }
}