.pl-content blockquote p{
	font-size: inherit;
	letter-spacing: inherit;
}

.pl-bibliography main h1 {
    font-size: 2rem;
    letter-spacing: .03125rem;
    line-height: 1.13;
}
.pl-partners__list{
	margin: 0 auto !important;
}