.pl-gallery {

}

.pl-gallery__inner {
  height: calc(100vh - 80px);
  padding-bottom: 50px;
}

.swiper-container {
  height: 100%;
}

.pl-gallery__link {
  text-decoration: none;
  display: block;
}

.pl-gallery__slide {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  max-width: 440px;
  justify-content: center;
  align-items: center;
  opacity: .3;
  @include transition(opacity);
}


.pl-gallery__image-container {
  width: 100%;
  height: 65vh;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: bottom;
  }
}

.pl-gallery__title {
  margin: 20px 0 0;
  line-height: 1.11;
  letter-spacing: 0.3px;
  text-align: center;
  color: $main-color;
  opacity: 0;
  @include transition(opacity);
}

.swiper-slide-active {
  .pl-gallery__slide, .pl-gallery__title {
    opacity: 1;
  }
}